voila
jupyter-dash
notebook
ipykernel
ipywidgets
pandas
numpy==1.23.5
dash
plotly
seaborn
matplotlib
mpld3
mplcursors
scikit-learn
scipy
statsmodels
pychow
requests
streamlit
tables==3.6.1